sample-api/.apt_generated/*
sample-api/.apt_generated_tests/*
sample-api/.settings/*
sample-api/.classpath
sample-api/.factorypath
sample-api/.project
sample-api/.springBeans
sample-api/bin/*
sample-api/logs/*
sample-api/target/*

sample-client/.apt_generated/*
sample-client/.apt_generated_tests/*
sample-client/.settings/*
sample-client/.classpath
sample-client/.factorypath
sample-client/.project
sample-client/.springBeans
sample-client/bin/*
sample-client/logs/*
sample-client/target/*

sample-view/.apt_generated/*
sample-view/.apt_generated_tests/*
sample-view/.settings/*
sample-view/.classpath
sample-view/.factorypath
sample-view/.project
sample-view/.springBeans
sample-view/bin/*
sample-view/logs/*
sample-view/target/*
